.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tab-container {
  display: flex;
}

.tab {
  padding: 10px;
  cursor: pointer;
  color: #000;
}

.tab.active {
  color: #fff;
  background-color: black;
}

.tab-content {
  margin-top: 20px;
}

.chats, .notifications {
  color: #00f;
}

.cards {
  display: flex;
  justify-content: center;
}

.card {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin: 10px;
}
