/* .blueDiv{
    background-color: #2196F3;
    border-radius: '5px';
    display: flex;
    flex-direction: 'column';
    height: 100%;
    justify-content: 'space-between';
    padding: 16px;
    text-decoration-color: white;
}

.orangeDiv{
    background-color: #FF9800;
    border-radius: '5px';
    display: flex;
    flex-direction: 'column';
    height: 100%;
    justify-content: 'space-between';
    padding: 16px;
    text-decoration-color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.header input[type='text'] {
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    width: 70%;
    font-size: 1.2rem;
}

.header button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    padding: 1rem;
}

.footer button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.2rem;
} */



/* .NewPostForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
}


.NewPostH1 {
    text-align: center;
    margin-top: 0;
}


.NewPostLabel {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}


.NewPostInput[type="text"],
.NewPostInput[type="number"],
.NewPostTextarea,
.NewPostSelect {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}


.NewPostInput[type="file"] {
    display: none;
}

.photo-upload-orange {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.photo-upload-orange label {
    background-color: orange;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}


.PostNewButtonOrange[type="submit"] {
    display: block;
    width: 100%;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;

}

.BlueBtn{
    display: block;
    width: 40%;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 30px;
}

.OrangeBtn{
    display: block;
    width: 40%;
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 30px;
}

.half{
    justify-content: center;
    align-content: center;
}

.h1Blue{
    color: #2196F3;
}

.h1Orange{
    color: orange;
}

.flex-parent {
    display: flex;
}

.jc-center {
    justify-content: center;
} */

.GoodForm{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    text-align: center;
    margin-left: 350px;
    border-radius: 10px;
    padding: 4%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
}

h1{
    justify-content: center;
    text-align: center;
}

.GoodFomDiv{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1%;
   
}

h4{
    display: flex;
    flex-direction: row;
}

.FormElements{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0.5rem;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    width: 600px;
}

.NewPostInput{
    width: 200px;
    justify-content: flex-end;

}

#GoodSubmitButton{
    width: 200px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;

}
.Heading2{
   
    color:  #D66A58;
    padding: 1%;

}
.Heading1{
    color: #50AEB3;
    padding: 1%;
}

#UploadPic{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.SubmitButton{

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 4%;
}

