.NavbarD{
    
    width: 100vw;
    justify-content: space-between;
    position: sticky;
    background-color: rgb(87, 139, 151);
}

Nav.Link{
    color: white;

}

.me-auto{
    color: white;
}

.trade-Button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-out;
    margin: 40px auto;
    display: block;

}

/*.trade-Button:hover {*/
/*    background-color: #2ecc71;*/
/*}*/

.underlying-div {
    /*position: absolute;*/
    /*align-content: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    display: block;

    margin-left: auto;

    margin-right: auto;
}

.Absolute-Center {
    display: flex;
align-items: center;
justify-content: center;
text-align: center;
}