.Box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .Paper {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  
  .Stack {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  