.message {
  // background-color: #f1f0f0;
  border-radius: 10px;
  // margin: 10px;
  // padding: 10px;
  display: flex;
  align-items: center;
}

.MsgText {
max-width: 500px;
margin-bottom: 12px;
line-height: 24px;
padding: 10px 20px;
border-radius: 25px;
position: relative;
color: white;
text-align: left;
word-break: break-word;
}

.sent {
  flex-direction: row-reverse;
  // align-self: flex-end;
  // background-color: rgb(156, 224, 156);
  color: black;
}

.FullChatSection {
// max-width: 728px;
text-align: center;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;

}

.ChatWindow {
padding: 20px;
height: 80vh;
// margin: 10vh 0 10vh;
overflow-y: scroll;
display: flex;
flex-direction: column;
// background-color: #b3c2cd;
background-image: url("../../../public/Chat.png");
}

.ChatWindow::-webkit-scrollbar {
width: 0.25rem;
}

.ChatWindow::-webkit-scrollbar-track {
background: #1e1e24;
}

.ChatWindow::-webkit-scrollbar-thumb {
background: #1f7dca;
}


.received {
  align-self: flex-start;
  // background-color: rgb(179, 187, 201);
  color: black;
}

.align {
  display: flex;
  // flex-direction: row;
  align-items: center;
}

.align img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 10px;
}


.username {
  font-weight: bold;
  margin-right: 5px;
}

.ChatFormDiv {
bottom: 0;
width: 100%;
display: flex;
justify-content: center;

}

.ChatForm {
  display: flex;
  justify-content: center;
  margin: 20px;
  // height: 10vh;
  position: fixed;
  bottom: 0;
  // background-color: rgb(24, 23, 23);
  // width: 100%;
  // max-width: 728px;
  display: flex;
  font-size: 1.5rem;
  border: #1e1e24;
  border-radius: 10px;
}

.ChatForm input {
  border-radius: 10px;
}

input[type="text"] {
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

button[type="submit"] {
  background-color: #0b93f6;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.sent p {
color: white;
background: #0b93f6;
align-self: flex-end;
}

.received p {
background: #e5e5ea;
color: black;
}

.sent img {
  background-color: #bfe0f7;
  // opacity: 0.5;
}

button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.one{
  background-color: #f1f0f0;
}

.two{
  background-color: #bfe0f7;
}

.three{
  background-color: #e5e5ea;
}
.four{
  background-color: #f4d4b1;
}
.five{
  background-color: #f7f7b3;
}
.six{
  background-color: #bff7da;
}
.seven{
  background-color: #b0b9d4;
}
.eight{
  background-color: #f2f7bf;
}
.nine{
  background-color: #c2befa;
}
.zero{
  background-color: #bff7cf;
}

