.tradeDiv {
    text-align: center;
    border: 0.5px solid black;
    padding: 20px;
    justify-content: center;
}

.tradeDiv-trade {
    text-align: center;
    padding: 20px;
    justify-content: center;
}

.tradeDivOne {
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
}

.requestBtn {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.MuiTypography-root {
    margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
}

.MyFontFamily {
    font-family: "Roboto","Helvetica","Arial",sans-serif;
}